extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  script(src='/js/star.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= `${tour.name} tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          +overviewBox('Next date', date, 'calendar')
          +overviewBox('Difficulty', tour.difficulty, 'trending-up')
          +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
          +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              - if (guide.role === 'guide')
                span.overview-box__label Tour guide
              span.overview-box__text= guide.name

    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      - const parapraphs = tour.description.split('\n');
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img, i in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)

  section.section-map
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    .reviews
      each review in tour.reviews
        +reviewCard(review)

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        if !isExit
          h2.heading-secondary Bạn còn chờ đợi gì nữa!
          p.cta__text= `${tour.duration} ngày. 1 cuộc phiêu lưu. Ký ức vô tận. Làm cho nó của bạn ngày hôm nay! `
        else
          h2.heading-secondary Bình chọn đánh giá của bạn
        if user
          if !isExit
            .demo-btns
                div
                  .buttons
                    p
                      button.modal__trigger.btn.btn--green.span-all-row(href='' data-modal='#modal') đặt tour ngay!

        
        else
          button.btn.btn--green.span-all-rows(href='/login') Log in to book tour

      if isExit
        form.form--comment
          .comment
            .stars(data-rating='0')
              span.star &nbsp;
              span.star &nbsp;
              span.star &nbsp;
              span.star &nbsp;
              span.star &nbsp;
            textarea.input--comment.form-control.form__input(rows='3', name='review')
            input.form--hidden-comment(type = "hidden" value=`${tour._id}`)
          button.btn.btn--green.span-all-rows.btn-comment Comment
  // Modal
  #modal.modal.modal__bg(role='dialog' aria-hidden='false')
    .modal__dialog
      .modal__content
        h2.center PHƯƠNG THỨC THANH TOÁN
        p.center
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Thanh toán bằng thẻ
          button.btn.btn--green.center.span-all-rows#book-tour2(data-tour-id=`${tour.id}`) Thanh toán bằng tiền điện tử
        // modal close button
        a.modal__close.demo-close(href='')
          svg(viewbox='0 0 24 24')
            path(d='M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z')
            path(d='M0 0h24v24h-24z' fill='none')

  
  